body {
  font-family: 'BioRhyme Expanded', serif;
}

header {
  border: 2px solid black;
  background-color: #5b288a4d;
}

#text-writer {
  width: 600px;
  height: 600px;
  font-family: 'Roboto Slab', serif;
}

table, th, td {
  border: 2px solid black;
}

tr:first-child {
  font-weight: bold;
  background-color: #200c5f;
  color: #ffffff;
}

#timer {
  font-size: large;

}

#one-count {
  font-size: medium;
}

#two-count {
  font-size: medium;
}

#right-side {
  border: 1px solid black;
  background-color: #c8b6ff;
}


section {
  float: left;
  margin: 0 1.5%;
}
